# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

local
*.architectury-transformer
/config/
/logs/
/mods/
/crash-reports/
win_event*.txt
hs_err_pid-1.log
/.architectury-transformer/*
